:root {
    --maincolor: black;
    --subcolor: white;
    --accentcolor: cyan;
    --trimcolor: blue;
    --inactive: rgba(200, 200, 200, 1);
    scroll-behavior: smooth;
    max-width: 2560px;
    
}

body {
    color: var(--subcolor);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1, h2, h3 {
    text-align: center;
}

main {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    height:fit-content;
    background-image: url("../images/skyline\ 2.jpg");
    background-size: cover;
    background-position: center;
    border-top-left-radius: 2ch;
    border-top-right-radius: 2ch;
}

#mainSection {
    display: flex;
    flex-direction: row;
    height:fit-content;
    margin-top: 2ch;
    justify-content: center;
}

.containerMd,
.containerLg {
    padding: 1ch;
    border-radius: 1ch;
    margin-left: auto;
    margin-right: auto;
    margin: 2ch;
    background-color: none;
    text-align: center;
}

.containerMd {
    width: 27%;
    max-height: 1440px;
    margin-bottom: 2ch;

}

.containerLg {
    width: 46%;
    max-height: 1440px;
}

.recommendedTable {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 90%;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.tableImg {
    max-width: 225px;
    max-height: 225px;
    width: auto;
    height: auto;
    border-radius: 1ch;
}

.icon {
    margin-right: 1.25rem;
}

.hoverIntBtn {
    transition: ease-in-out 150ms;
}

.hoverIntBtn:hover {
    scale: 1.05;
    filter: brightness(1.1), contrast(1.1);

}

.hoverIntBtn:active {
    scale: 0.9;
}

.travelFormBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.travelForm {
    display: flex;
}

.lwOpacity {
    background-color: rgba(0, 0, 0, 0.45);
}

.mdOpacity {
    background-color: rgba(0, 0, 0, .6);
}



.scrollableTime, .scrollableTable {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.scrollableTime::-webkit-scrollbar, .scrollableTable::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.scrollableTime {
    position: relative;
    overflow-y: auto;
    height: 80%;
    max-height: 48vh;
    border-radius: 1ch;

}

.scrollableTable {
    position: relative;
    overflow-y: auto;
    height: 40%;
    min-height: 280px;
    max-height: 400px;
    width: 90vh;

}

.destinationLi {
    border-radius: 1ch;
    padding: 1ch;
    margin: 1ch;
}

#recommendedModal {

}

.tableRow {
    display: flex;
    font-size: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: var(--subcolor);
    transition: ease-in-out 250ms;

}

    .tableRow:hover {
        scale: 1.05;
        filter: brightness(1.1), contrast(1.1);
        cursor: pointer;
    }

    .tableRow:active {
        scale: 0.9;
        color: var(--maincolor);
    }

tr:nth-child(1n) {
    border-bottom: 1ch dotted var(--subcolor);
    padding-top: 1ch;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}


#from,
#to {
    color: var(--subcolor);
}

.transition-fade {
    opacity: 0;
    transform: scale(0.95);
    transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

.transition-fade.visible {
    opacity: 1;
    transform: scale(1);
}

.select-wrapper {
    display: flex;
    justify-content: center;
    transition: ease-in-out 250ms;

}

    .select-wrapper:hover {
        scale: 1.05;
        cursor: pointer;
    }

    .select-wrapper:active {
        scale: 0.9;
    }

.select-dropdown {
    color: var(--inactive);
    text-align: center;
    max-width: 220px;
    max-height: 500px;
}

.dropdown-content {
    text-align: center;
}

.btn {
    max-width: 220px;
    margin: 1ch;
}

.activeImg {
    background-image: url("../images/skyline\ 2.jpg");
    position: relative;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    border-bottom-left-radius: 2ch;
    border-bottom-right-radius: 2ch;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: ease-in-out 250ms;

}

#output {
    font-size: 80%;
}

#googleMap {
    color: var(--maincolor);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1ch;
    width: 90%;
    height: 65%;
    min-width: 200px;
    min-height: 200px;
    border-radius: 1ch;
}

@media screen and (max-width: 1530px) {
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    .scrollableTable {
        height: 90%;
        margin-top: 1ch;
        border-radius: 1ch;  
    }

}

@media screen and (max-width: 1030px) {
    h1 {
        font-size: 1.75rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    #mainSection {
        display: block;
        
    }

    .containerMd, .containerLg {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    }

    .scrollableTime {
        max-height: 30vh;
    }

    .contMd1 {
        margin-top: 2ch;
    }

    .tableRow {
        font-size: 0.8rem;
        text-align: center;
        justify-content: center;
    }

    .select-dropdown {
        max-height: 225px;
        
    }


}
